body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #EC8F3F; /* 橘色背景 */
    height: 100vh; /* 讓容器充滿整個視口高度 */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* 設置相對定位，以便絕對定位元素相對於 body */
}

.center-container {
    text-align: center; /* 居中內容 */
    margin-top: 20vh; /* 在上方和下方留出足夠多的空間 */
    margin-bottom: 20vh;
}

.vertical-space {
    height: 20px; /* 增加垂直空間的高度 */
}

h1 {
    color: #333;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
    margin: 10px; /* 增加一些外邊距 */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px; /* 增加一些外邊距 */
}

p#result {
    font-size: 36px; /* 更大的字體 */
    font-weight: bold; /* 更粗的字體 */
    margin: 20px; /* 增加一些外邊距 */
}
