body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #EC8F3F; /* 橘色背景 */
    height: 100vh; /* 让容器充满整个视口高度 */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* 设置相对定位，以便绝对定位元素相对于 body */
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #333;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
    margin: 10px; /* 增加一些外边距 */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px; /* 增加一些外边距 */
}

p#result {
    font-size: 36px;
